body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

ul li {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* h */
.header-title {
  /*h1*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width:768px) {
  .header-title {
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width:1158px) {
  .header-title {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
  }
}

.visually-hidden {
  /*h2 secret*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-h {
  /*h2  section 3 , 4 */
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.title {
  /*h3 3 team section*/
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

/* h3 section 2 */
.title-hidden {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  color: #2e2f42;
}

@media screen and (min-width:768px) {
  .title-hidden {
    text-align: left;
  }
}

@media screen and (min-width:1158px) {
  .title-hidden {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

/*p*/
.note {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.note-hidden {
  /** р for section3**/
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;

}

@media screen and (min-width:768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width:1158px) {
  .container {
    max-width: 1158px;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
  }
}

/***********HEADER****************/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-nav {
  display: block;
}

.navigation-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  align-items: center;
  padding: 17px 0;
  display: inline-block;
}


.logo-span-heder {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.btn-menu {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}


.list {
  display: none;
}

.address {
  display: none;
  font-style: normal;
}

/**********************MODAL MENU***********************/

/********************TABLET**********************************/

@media screen and (min-width:768px) {

  .header-container {
    min-width: 768px;
  }

  .navigation-logo {
    margin-right: 120px;
  }

  .btn-menu {
    display: none;
  }

  .list-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
  }

  .list {
    display: flex;
    gap: 40px;
  }

  .list .navigation-link-studio {
    color: #404bbf;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    gap: 40px;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list .navigation-link-studio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }


  .navigation-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    gap: 40px;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .navigation-link:hover,
  .navigation-link:focus {
    color: #4d5ae5;
    border-bottom: 2px solid #4D5AE5;
  }

  .address {
    display: block;
  }

  .list-ad {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
    border-bottom: 2px solid #4D5AE5;
  }
}

/*************************************************/

/*****************DESCTOP*************************/


@media screen and (min-width: 1158px) {
  .header-container {
    min-width: 1158px;
    padding: 0 15px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }

  .navigation-logo {
    margin-right: 76px;
  }

  .list-ad {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/******************end header**************************/

/******************BACKDROP-MENU*************************/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #ffffff;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 40px;
  position: relative;
}


.menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  line-height: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icons {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-link-studio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-adress {
  font-style: normal;
  margin-bottom: 48px;

}

.mobile-ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}



.mobile-ad {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42
}

.tel {
  color: #404bbf;
}

.social-link-menu {
  display: flex;
  gap: 40px;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}


.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.menu-icon {

  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/********section1mobil*********/


.main-header {
  width: 100%;
  background-color: #2e2f42;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/mobile/Dark-bg-mobile@1.jpg );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;

  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/mobile/Dark-bg-mobile@2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

@media screen and (min-width:320px) {
  .main-header {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/mobile/Dark-bg-mobile@1.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media (min-resolution: 192dpi) {
    .main-header {
      background-image: linear-gradient(to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/mobile/Dark-bg-mobile@2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  margin-top: 48px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/************************TABLET********************/

@media screen and (min-width:768px) {
  .main-header {
    max-width: 768px;
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/tablet/dark-bg-tablet@1.jpg);
    padding-top: 112px;
    padding-bottom: 122px;

    @media (min-resolution: 192dpi) {
      .main-header {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
          url(../images/tablet/Dark-bg-tablet@2.jpg);
      }
    }
  }
}


/********************DESCTOP*************/

@media screen and (min-width:1158px) {
  .main-header {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/desctop/people-office-destop@1.jpg);
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;

    @media (min-resolution: 192dpi) {
      .main-header {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
          url(../images/desctop/people-office@2.jpg);
      }
    }
  }
}

/************end section 1************/

/*************section2 FeaturesMOBILE*****************/

.main-page {
  width: 100%;
  padding-bottom: 96px;
  padding-top: 96px;
}

.main-page-features {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.icon-container {
  display: none;
}

/**************TABLET**********************/

@media screen and (min-width:768px) {

  .main-page-features {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .lir {
    flex-basis: calc((100% - 24px) / 2);
  }
}

/************************DESCTOP****************/

@media screen and (min-width:1158px) {
  .main-page {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .main-page-features {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .lir {
    flex-basis: calc((100% - 24px) / 3);
    border-radius: 0px 0px 4px 4px;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
}

/***************end section2 Features*********/


/****************TEAM**************/

.main-page-team {
  /*это секция*/
  background-color: #f4f4fd;
  color: #2e2f42;
  text-decoration: none;
  width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-list {
  /*li*/
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 72px;
}

.team-container {
  padding: 32px 16px;
}

.social-link-team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.team-icons {
  width: 40px;
  height: 40px;
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #f4f4fd;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list:hover,
.icon-list:focus {
  background-color: #404bbf;
}

.team-list:last-child {
  margin-right: 0;
}

.icon {
  fill: #f4f4fd;
}

/*********************TABLET**************************/

@media screen and (min-width:768px) {
  .main-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 0;
  }

  .team-list {
    flex-basis: calc((100% - 24px) /4);
    margin-bottom: 0;
  }

}

/*********************DESCTOP****************************/

@media screen and (min-width:1158px) {
  .main-page-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .main-team {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

/************************* end TEAM************/


/*******************PORTFOLIO****************/


.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-list {
  /*ul card*/
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.app-container {
  /*div h3 p */
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.app-list {
  /*li  card*/
  width: 318px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  /*img+box-text*/
  position: relative;
  overflow: hidden;
}

.hidden-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.app-list .overlay p {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-list:hover .overlay p {
  transform: translateY(0%);
}

.portfolio-list .app-list:not(:nth-last-child(-n + 3)) {
  margin-bottom: 0;
}

/******TABLET************/

@media screen and (min-width:768px) {


  .portfolio-list {
    justify-content: center;
    align-items: center;
    gap: 74px 24px;
  }

  .app-list {
    width: ((100% - 24px) / 2);
  }
}



/***********************DESTOP*************/

@media screen and (min-width:1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }


  .app-list {
    width: calc((100% - 48px) / 3);
  }
}

/*******************END PORTFOLIO***********************/



/*********************FOOTER***********************/


.footer {
  background-color: #2e2f42;
  width: 100%;
  padding: 96px 0;
}

.text-footer {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.subtext {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.container-footer {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.karre {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.karre-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.navigation-logo-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.logo-span-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.menu-footer {
  display: flex;
  gap: 16px;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-list:hover,
.footer-icon-list:focus {
  background-color: #31d0aa;
}

.icon {
  fill: #f4f4fd;
}

/*******div FORM-FOOTER**********/

.container-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.text-label {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-input {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  margin-bottom: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  margin: 0 auto;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-send {
  fill: #f4f4fd;
  margin-left: 16px;
}


/********TABLET****************/

@media screen and (min-width:768px) {
  .footer-container {
    width: 584px;
    display: flex;
    flex-wrap: wrap;
  }

  .karre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .karre-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 24px;
    flex-direction: column;
  }

  .container-form {
    display: flex;
    flex-direction: column;

  }

  .footer-form {
    display: flex;
    gap: 24px;
  }
}

/*****************DESTOP*************/

@media screen and (min-width:1158px) {
  .footer {
    width: 100%;
    padding: 100px 0;
  }

  .footer-container {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .karre {
    margin-right: 120px;
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .karre-two {
    /*
    display: block;*/
    padding-bottom: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .container-form {
    /*
    display: block;*/
    margin-left: 80px;
  }

}

/*******************END FOOTER****************/

/*************Modal Overlay***************/

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  line-height: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-button:hover>.modal-close-button-icons,
.modal-close-button:focus>.modal-close-button-icons {
  fill: #ffffff;
}

.form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.form-modal {
  border-radius: 4px;
  margin: 0 auto;
}

.form-label-class {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.form-input {
  position: relative;
  margin-bottom: 8px;
}

.form-input-class {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 34px;
}

.form-input-class:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-class:focus+.input-icon {
  fill: #4D5AE5;
}

.form-label-comment {
  margin-bottom: 16px;
}

.container-comment-box {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-comment-box:focus {
  border-color: #4D5AE5;
}

.checkbox-accept {
  margin-bottom: 24px;
}

.label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
}

.checkbox-span {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  flex-shrink: 0;
}

.checkbox-input:checked+.label>.checkbox-span {
  border: none;
  border-color: #404bbf;
  fill: #f4f4fd;
  background-color: #404bbf;
}

.privacy-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.form-btn {
  display: block;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
}

/****************TABLET**********************/

@media screen and (min-width:768px) {

  .modal {
    width: 408px;
    min-height: 584px;
    padding-left: 24px;
    padding-right: 24px;
  }
}